{% extends '::frontend/frontend.html.twig' %}
{% from '::frontend/Macros/actions.html.twig' import todolist %}
{% import '::frontend/Macros/alerts.html.twig' as alerts %}

{% block body_inner %}
	<div class="page-header">
		<h1>Todo app</h1>
	</div>
{% endblock %}