{% macro success(text) %}
<div class="alert alert-success">
    {{ text|raw }}
</div>
{% endmacro %}

{% macro info(text) %}
<div class="alert alert-info">
    {{ text|raw }}
</div>
{% endmacro %}

{% macro error(text) %}
<div class="alert alert-error">
    {{ text|raw }}
</div>
{% endmacro %}

{% macro warning(text) %}
<div class="alert alert-warning">
    {{ text|raw }}
</div>
{% endmacro %}
