{% macro show(url, message) %}
<a href="{{ url }}" class="btn">
   <i class="icon-book"></i>
    <span class="hidden-phone">{{ message is empty ? 'sylius.show'|trans : message }}</span>
</a>
{% endmacro %}
